*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
background-size: contain;
}
header{
  z-index: 300;
  position: sticky;
  top: 0px;}

 nav {
  background-color: rgba(240, 248, 255, 0.404) 
}

nav img{
  margin-top: 7px;
  margin-bottom: 0px;
  margin-right: 400px;
}

header nav ul{
  display: inline-block;
}



header nav ul li  {
  margin: 20px;
  background-color: rgba(188, 143, 143, 0.24);
  border-radius: 5px;
  display: inline-block;
  
}
header nav ul li a{
  color: black;
  margin: 20px;
  padding:0px ;
  font-size: 30px;
  font-family: kiona;
  text-decoration: none;
  ;
  
}
main{
  box-sizing: content-box;
}
main div {
  background-color: rgba(241, 156, 57, 0.548);
  position: relative;
  
}
  .home {
    border-radius: 40px;
    position: relative;
    top: 0;
    left: 210px;
    height: 752px ;
  width: 1475px;
}
  
h1{
  font-size: 100px;
  font-family: raleway, sans-serif;
  color: white;
  position: relative;
  text-align: center;
  bottom: 400px;
  z-index: 200;
}

.transparencia{
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: rgba(2, 2, 2, 0.24);
  z-index: 100;
}

footer{
  padding: 50px;
  text-align: center;
  background-color: gainsboro;
  
}
.redes{
  padding: 30px;
  display: inline-block;
}

.wpp img{
  
  
  position: fixed;
  bottom:30px;
  right: 30px;
  z-index: 500;
}


 footer h2{
  font-family: kiona;
 }
 

 .nosotros h1{
  color: white;
  position: absolute;
  top: 210px;
  left: 30px;
  font-family: raleway;
  font-size: 50px;
 }
.transparencia2{
  padding: 40px;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.404);
  position: relative;
  bottom: 900px;
}
.nostext{
  color: white;
  z-index: 900;
  font-family: kiona;
  font-size: 30px;
}
.galeria{
  display: inline-block;
  position: relative;
  border-color: black;
  text-align: center;
  
}
.galeria img{
  
  border-style: groove;
  border-color: black;
}



.fwinter li {
  font-size: 10px;
  margin-left: 60px;
  display: inline-block;
}

.fwinter li img {
  
  display:inline-block;
  border-style: groove;
  border-color: black;
}
ul li div {

background-color: rgba(240, 248, 255, 0.459);
font-size: 30px;
font-family: kiona;
border-style: groove;
border-color: black;

}
.tienda1 iframe{
  position: relative;
  border-style: groove;
  border-color: black;
  margin-left: 60px;
}
.tienda1 {
  background-color: rgba(240, 248, 255, 0.466);
}
.ubic{
  font-family: kiona;
  padding: 0px;
  color: black;
  font-size: 30px;
  position: relative;
  left:  0px;
  top: 0px;
}
.datos{
  background-color: rosybrown;
  padding: 40px;
  font-family: kiona;
  font-size: 30px;
  color: black;
  position: absolute;
  top: 150px;
  right: 70px;
}